{% extends "base_nav.html" %}

{% block title %} About Us {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/about_us.css">
{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center" id="about-us-container">
    <h1 class="display-1 text-center" id="aboutus-header">About The App</h1>
    <div id="journal-container">
        <img src="/static/images/journalWithText.png" id="journal-img" alt="...">
        <img id="journal-img-2" alt="...">
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}