{% extends "base_nav.html" %}
{% block title %} DTRI Home {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/login_signup.css">
{% endblock %}

{% block content %}
<h1 class="display-1 text-center" id="mainpage-header">Down To The Route Of It</h1>
<div class="container-fluid mt-5" id="homepage-img">
    <form class="d-flex flex-column align-items-center" id="login-signup-forms" method="POST">
        {{ form.hidden_tag() }}  
        {% block token %}{% endblock %}
        <div class="mb-3 d-flex flex-row">
        {% for field in form if field.widget.input_type != 'hidden' %}
            {{field(placeholder=field.label.text,class_="form-control")}}
            {% for error in field.errors %}
            <small class="text-danger">
                {{error}}
            </small>
            {% endfor %}
        {% endfor %}
        </div>
        <button class="btn-info btn" id="trip-btn">Login</button>
        <div class="d-flex flex-column mt-2 bg-dark" id="register-info-div">
            <small ><a class="text-white" id="forgot-pw" href="/password/forgot">Forgot Password</a></small>
            <small class="text-white fw-bold" id="register-info">Don't Have An Account Yet?-<a class="text-success" id="register-info" href="/register"> Register Here!</a></small>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
